/* mobile first */
/* Blocco lezioni */
@media all and (max-width:420px) {
    /* common */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .row{
        width: 100%;
        margin-top: 0;
        margin: auto;
    }

    .row>div{
        padding-bottom: 10px;
    }

    /* lezioni */
    #lezioni .row>.left, #lezioni .row>.right{
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    #lezioni{
        background-color: #f2f2cd;
    }

    /* steps */
    #steps .row>.left, 
    #steps .row>.central,
    #steps .row>.right{
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    /* perchè */
    #why{
        background-color: #f2f2cd;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: calc(100% - 20px);
        margin: 0 10px;  
}